<!-- You successfully used ejs-mate by calling in layout one thing to note that is weird about this layout call it starts scanning from the views directory to find the layouts/boilerplate not from this directory in which this file is present so you don't need to do ../layouts/boilerplate here. -->
<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img
        class="card-img-top"
        src="<%= campground.image %>"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campground.location %></li>
        <li class="list-group-item">Submitted by: <%= campground.author.username%></li>
        <li class="list-group-item">$<%= campground.price %>/per night</li>
      </ul>
      <!-- Due to the if condition below we will be able to hide the edit and delete button if someone doesn't own the campground but you can still send put or delete request through postman or you can just add /edit to the URL so we need to protect that too. -->
      <% if (currUser && campground.author.equals(currUser._id)) { %>
        <!-- Mongoose uses the mongodb-native driver, which uses the custom ObjectID type. You can compare ObjectIDs with the .equals() method. The ObjectID type also has a toString() method which gets called (I am not 100% sure although), if you wish to store a stringified version of the ObjectID in JSON format, or a cookie.ObjectIDs are objects so if you just compare them with == you're comparing their references, so it won't work.However, converting object id to string String() might do the job.(So, .equals() only available for mongoose ObjectId types). So, == & === won't work here. -->
        <div class="card-body">
          <a
            href="/campgrounds/<%= campground._id %>/edit"
            class="card-link btn btn-info text-white"
            >Edit</a
          >
          <form
            action="/campgrounds/<%= campground._id %>?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      <% } %>
      <div class="card-footer text-muted">3 days ago</div>
    </div>
  </div>
  <div class="col-6">
    <% if (currUser) { %>
      <!-- If you're not signed in you should not see the leave a review form -->
    <h4 class="my-3">Leave a Review</h4>
    <form
    <% if (foundReview) { %>
      action="/campgrounds/<%= campground._id %>/reviews/<%= foundReview._id %>?_method=PUT"
    <% } else { %>
      action="/campgrounds/<%= campground._id %>/reviews"
    <% } %>
    method="POST"
    class="mb-3 validated-form"
    novalidate
    >
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          name="review[rating]"
          id="rating"
          class="form-range"
          min="1"
          max="5"
          <% if (foundReview) { %>
          value="<%= foundReview.rating %>"
          <% } %>
        />
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Review</label>
        <textarea
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          class="form-control"
          placeholder="Add a review here..."
          required
        ><% if (foundReview) { %><%= foundReview.body %><% } %>
</textarea
        >
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Review required!</div>
      </div>
      <% if (foundReview) { %>
        <button class="btn btn-info text-white">Edit</button>
      <% } else { %>
        <button class="btn btn-success">Submit</button>
      <% } %>
    </form>
    <% } %>
    <% if (!currUser) { %>
      <!-- This is so i can show reviews written there is no one is signed in. -->
     <h4>Reviews</h4> 
    <% } %>
    <% for (let review of campground.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rating : <%= review.rating %></h5>
        <h6 class="card-subtitle mb-2 text-muted">By <%= review.author.username%></h6>
        <p class="card-text">Review : <%= review.body %></p>
        <% if (currUser && review.author.equals(currUser._id)) { %>
          <!-- Even though I have populated the author this equals thing still works ?  -->
          <!-- I thought it would work only when it wasn't populated -->
        <form
          action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>/edit"
          class="d-inline"
        >
          <button class="btn btn-sm btn-info text-white">Edit</button>
        </form>
        <form
          action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
          method="POST"
          class="d-inline"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>
